---
layout: default
title: Home
---

<!-- {% include intro.html %} -->

<section class="post-list">
  <div class="container">
    {% for post in site.posts %}
      <h2 class="category-title">{{ post.date | date: '%b %d %Y' }}</h2>
      {% for link in post.links %}
          <article class="post-item">
            <div class="article-title">
                <a href="{{ link.linky}}" target="_blank">{{ link.title }} </a><i class="{{ link.class }}"></i>
                <span class="post-meta date-label">{{ link.source }}</span>
            </div>
            {% if link.description %}
                <span class="article-description">{{ link.description }}</span>
            {% endif %}
          </article>
      {% endfor %}
    {% endfor %}
  </div>
</section>
